@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw; 
  scroll-behavior: smooth; 
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  background-color: #0c0c0c;
}

body.scroll-unlock {
  transition: opacity 0.5s ease-in;
  opacity: 0.5;
}

body:not(.scroll-unlock) {
  opacity: 1;
}

section{
  padding: 20px clamp(20px, 5vw, 100px);
}

.section-home{
    position: relative;
    min-height: 100vh;
    /*background: url('/img/templatemo_award.jpg') no-repeat;*/
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-home:before{
    content: '';
    position: absolute;
    background: linear-gradient(to top, #c8c8d114, transparent);
    width: 100%;
    height: 20px;
    bottom: 0;
}

.section-home h1{
    color: #fff;
    font-size: 10vw;
    font-weight: 800;
    text-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    opacity: 0.3;
}

.section-two h2{
    color: #fff;
    font-size: 3em;
    font-weight: 700;
    margin: 30px 0;
}

.section-two p{
    color: #fff;
    font-size: 1em;
    margin: 30px 0;
}

header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00000000;
    box-shadow: 0 5px 25px rgba(38, 39, 37, 0);
    padding: 14px 200px;
    transition:  background-color 0.5s ease, padding 0.5s ease;;
}

header .logo{
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

header .logo-img{
    width: 170px;
    height: auto;
    margin-top: 2px;
    margin-right: 20px;
}

header .navigation{
    position: relative;
    line-height: 70px;
    /*transition: 0.5s;*/
    transition-property: line-height;
}

header.sticky .navigation{
    line-height: 60px;
}

header .navigation .menu{
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}

.menu-item > a{
    color: #ffffff;
    font-size: 1.4rem;
    text-decoration: none;
    margin: 30px;
    padding: 25px 0; 
}

.menu-item > a:hover{
    color: #cfb22dda;
    transition: 0.3s;
  }

.menu-item .sub-menu{
    position: absolute;
    background: #5253563f;
    top: 74px;
    line-height: 40px;
    list-style: none;
    border-radius: 8px 8px 10px 10px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    pointer-events: none;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
}

header.sticky .menu-item .sub-menu{
    top: 60px;
}

.menu-item:hover .sub-menu{
    pointer-events: all;
        transform: translateY(0);
    opacity: 1;
}

.menu-item .sub-menu .sub-item{
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
}

.menu-item .sub-menu .sub-item a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    padding: 15px 30px;
}

.menu-item .sub-menu .sub-item:hover{
    background: #ffffff5d;
}

.menu-item .sub-menu .sub-item:last-child:hover{
    border-radius: 0 0 8px 8px;
}

.more .more-menu{
    position: absolute;
    background: #23252B;
    list-style: none;
    top: 0;
    left: 100%;
    white-space: nowrap;
    border-radius: 0 8px 8px 8px;
    overflow: hidden;
    pointer-events: none;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;

}

.more:hover .more-menu{
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
}

.more .more-menu .more-item{
    padding: 7px 0;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255,0.2);
    transition: 0.3s;
}

.more .more-menu .more-item:hover{
    background: #cdced3;
}

.menu-btn{
    display: none;
}


@media(max-width: 1060px){
    header .navigation .menu{
        position: fixed;
        display: block;
        background: #23252be9;
        min-width: 350px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 90px 50px;
        visibility: hidden;
        overflow-y: auto;
        transition: 0.5s;
        transition-property: right, visibility;
    }


    header.sticky .navigation{
        line-height: 75px;
    }

    header .navigation .menu.active{
        right: 0;
        visibility: visible;
    }

    .menu-item{
        position: relative;
    }

    .menu-item .sub-menu{
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: rgba(255, 255, 255,0.1);
        border-radius: 5px;
        overflow: hidden;
        display: none;
    }

    header.sticky .menu-item .sub-menu{
        top: 0;
    }

    .menu-item:hover .sub-menu{
        transform: translateX(10px);
    }

    .menu-item .sub-menu .sub-item{
        box-shadow: none;
    }

    .menu-item .sub-menu .sub-item:hover{
        background: none;
    }

    .menu-item .sub-menu .sub-item a:hover{
        color: #efac40;
        transition: 0.3s;
    }

    .more .more-menu{
        opacity: 1;
        position: relative;
        left: 0;
        transform: translateY(0);
        background: rgba(216, 216, 53, 0.1);
        border-radius: 5px;
        display: none;
    }

    .more .more-menu .more-item{
        box-shadow: none;
    }

    .more .more-menu .more-item:hover{
        background: none;
    }

    .more .more-menu .more-item a{
        margin-left: 20px;
    }

    .close-btn{
        position: absolute;
        background: url('../img/close.png') no-repeat;
        width: 40px;
        height: 40px;
        background-size: 40px;
        background-position: center;
        top: 0;
        left: 0;
        margin: 25px;
        cursor: pointer;
    }

    .menu-btn{
        background: url('../img/menu.png') no-repeat;
        width: 40px;
        height: 40px;
        background-size: 40px;
        background-position: center;
        cursor: pointer;
        display: block;
    }

    header{
        padding: 15px 20px ;
    }

    header.sticky{
        padding: 10px 20px ;
    }
}

/**********************************/
/**************FOOTER**************/
/**********************************/
footer {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #000000;
    box-shadow: 0 10px 45px rgba(255, 255, 255, 0.22);
  }
  
  .container {
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 12px;
  }
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

  }
  
  .wrapper .footer-widget {
    width: calc(24% - 30px);
    margin: 20px 15px ;
    padding: 0 10px;
  }
  
  .wrapper .footer-widget:nth-child(1) {
    width: calc(24% - 40px);
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .wrapper .footer-widget:nth-child(4) {
    width: calc(30% - 40px);
    margin-right: 10px;

  }

  .wrapper .footer-widget .logo {
    margin: 30px 20px;  
    display: block;
    width: 170px;
    height: auto;
  }
  
  .wrapper .footer-widget p {
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 20px;
    color: #d1d1e9;

  }
  
  .wrapper .footer-widget .socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .wrapper .footer-widget .socials li {
    list-style: none;
  }
  
  .wrapper .footer-widget .socials li a {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    color: #000000;
    background-color: rgb(237, 229, 229);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
    
  }
  
  .wrapper .footer-widget .socials li a:hover {
    background-color: rgb(184, 147, 54);
    transform: translateY(-1px);
  }
  
  .wrapper .footer-widget h5 {
    color: #585978;
    margin: 10px 0 15px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .wrapper .footer-widget .links li {
    list-style: none;
  }
  
  .wrapper .footer-widget .links li a {
    color: #d1d1e9;
    font-size: 15px;
    text-decoration: none;
    line-height: 30px;
    transition: all 0.3s ease-out;
  }
  
  .wrapper .footer-widget .links li a:hover {
    color: rgb(184, 147, 54);
  }
  
  .copyright-wrapper {
    padding: 20px 0;
    border-top: 1px solid rgba(188, 147, 54, 0.4);
  }
  
  .copyright-wrapper p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
    text-align: center;
  }
  
  .copyright-wrapper p a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-out;
  }
  
  .copyright-wrapper p a:hover {
    color: #bab9b2;
  }


  @media (max-width: 992px) {
    .container {
      max-width: 160px;
    }
  
    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1) {
      width: calc(50% - 30px);
    }
  }
  
  /*pantalla de footer responsivo*/
  @media (max-width: 1140px) {
    .container {
      max-width: 720px;
    }
  
    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1) {
      width: 100%;
      margin: 4px 10px 20px;
    }

    .wrapper .footer-widget h5 {
      text-align: center;
    }

  }
  
/* navbar scroll negro */
header.sticky {
  background-color: #000;
  box-shadow: 0 5px 25px rgba(255, 255, 255, 0.3);
}

.logo-footer {
  display: flex;
  flex-direction: row; /* Móviles: una debajo de otra */
  align-items: center;
  gap: 45px;
}

.logo-footer img {
  width: 80%; /* Tamaño reducido para móviles */
  height: auto;
}

/* Pantallas grandes (tablets, desktops, etc.) */
@media (min-width: 1000px) {
  .logo-footer {
    flex-direction: column; /* En fila, una al lado de otra */
    justify-content: center;
  }

  .logo-footer img {
    width: 150px; /* Tamaño más grande */
  }
}

.responsive-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.responsive-container img {
  width: 40%;
  max-width: 500px; /* Limita el tamaño máximo */
  height: auto;
}

@media (max-width: 768px) {
  .responsive-container img {
      width: 80%;
  }
}
/* Fondo de la sección */
.section-home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Video de fondo - no se detiene */
.video-slider {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  object-position: center;
  top: 0;
  left: 0;
  z-index: -1;  
}
/* Estilo para el texto */
.content{
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
/* Estilo del texto */
.content h1{
  color: white;
  font-size: 3rem;
  text-align: center;
}

/* Efecto de aparición suave para el navbar */
header {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Habilitar scroll después de 3 segundos */
body.scroll-enabled {
  overflow: auto;
}

/* Animación de aparición del navbar */
.fade-navbar {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

/* Para hacer el texto aparecer */
.content.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Texto y boton de la pantalla*/
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px; /* Sin padding extra */
  height: 100vh; /* Mantiene la altura del viewport */
  box-sizing: border-box;
  background-color: transparent; /* Sin fondo negro */
  text-align: center;
  z-index: 1; /* Evita interferir con otros elementos */
  position: relative;
  margin-top: 500px; /* Ajusta para bajar la sección (aumenta el valor para bajarla más) */
}

/* Contenido dentro de la sección */
.intro .content-wrapper {
  width: 100%;
  max-width: 1500px;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

/* Animación de entrada */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos para el texto en la sección intro */
.intro .intro-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  font-size: clamp(20px, 2.5vw, 30px); 
  color: white;
  margin: 20px 0;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}

/* Estilos para el botón en la sección intro */
.intro .intro-button {
  margin-top: 25px;
  padding: 12px 24px;
  font-size: clamp(12px, 3.5vw, 20px);
  border: none;
  border-radius: 30px;
  background: #FAAF40;
  color: rgb(35, 34, 34);
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 1.5s;
  font-weight: 450;
}

.intro .intro-button:hover {
  background-color: #ce930a;
  transform: scale(1.05);
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .intro {
    padding: 10px 20px; /* Menos padding en pantallas pequeñas */
    margin-top: 450px; /* Ajuste en móviles para que no suba demasiado */
  }

  .intro .intro-text {
    font-size: clamp(9px, 3vw, 18px); /* Ajuste de tamaño de texto en pantallas pequeñas */
  }

  .video-slider {
    height: 100%; /* o lo que necesites */
    object-position: 22.5% 20%; /* Ajusta para enfocar el logo */
  }
  
  .section-home {
    height: 400px;
  }
}

@media (min-width: 770px) and (max-width: 853px) {
  .video-slider {
    height: 100%; /* o lo que necesites */
    object-position: 17% 20%; /* Ajusta para enfocar el logo */
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  .video-slider {
    height: 100%; /* o lo que necesites */
    object-position: 14% 20%; /* Ajusta para enfocar el logo */
  }
}

@media (min-width: 1020px) and (max-width: 1368px) {
  .video-slider {
    height: 100%; /* o lo que necesites */
    object-position: 15% 20%; /* Ajusta para enfocar el logo */
  }
}

@media (min-width: 540px) and (max-width: 720px) {
  .video-slider {
    height: 100%; /* o lo que necesites */
    object-position: 15% 20%; /* Ajusta para enfocar el logo */
  }
}

@media (min-width: 912px) and (max-width: 1000px) {
  .video-slider {
    height: 100%; /* o lo que necesites */
    object-position: 17% 20%; /* Ajusta para enfocar el logo */
  }
}

@media (max-width: 400px)  {
  .video-slider {
    height: 100%; /* o lo que necesites */
    object-position: 20% 20%; /* Ajusta para enfocar el logo */
  }
}

@media (max-width: 344px)  {
  .video-slider {
    height: 100%; /* o lo que necesites */
    object-position: 23% 20%; /* Ajusta para enfocar el logo */
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .video-slider {
    height: 100%; /* o lo que necesites */
    object-position: 22% 20%; /* Ajusta para enfocar el logo */
  }
}

.texto-descriptivo{
    text-align: justify;
}

#selected-flag{
  width: 35px; 
  vertical-align: middle;
}